:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}
body{
  background-color:#3f454d ;
}
#logo{
  display: flex;
  justify-content: center;
}
#korb{
  display: flex;
  justify-content: flex-end;
}
#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}
#shirt, #skirt,#pants{
  width: 50px;
  height: 50px;
  border: none;
  background-color:#3f454d;
  margin-right: 10px;
}
#blue{
  background-color: #3b88c3;
  width: 50px;
  height: 50px;
  border: none;
  margin-left: 5px;
}
#yellow{
  background-color: #fbbe28;
  width: 50px;
  height: 50px;
  border: none;
  margin: 5px;
}
#pink{
  width: 50px;
  height: 50px;
  border: none;
  background-color: #fd7f84;
}
#show, #waren{
  display:flex;
  flex-direction: column;
  align-items: center;
}
li{
  list-style: none;
  background-color:#dfdfdf;
  width: 600px;
  
}
li img{
  width: 50px;
}